hostname*adh*routeList : ELEKTRON_DD,trcc

hostname*adh*primeTopology : True
hostname*adh*trcc.route*TRCC*Interactive*groupList : 1, 3, 4, 6
hostname*adh*trcc.route*TRCC*appServiceName : DDS_TRCE
hostname*adh*trcc.route*TRCC*commLinks : Interactive
hostname*adh*trcc.route*TRCC*dacsAttributes :
hostname*adh*trcc.route*TRCC*datastreamMonitor*interruptionDetection : False
hostname*adh*trcc.route*TRCC*datastreamMonitor*interruptionDuration : 4
hostname*adh*trcc.route*TRCC*datastreamMonitor*trafficWindow : 10
hostname*adh*trcc.route*TRCC*downloadCriteriaName :
hostname*adh*trcc.route*TRCC*hashIDs :
hostname*adh*trcc.route*TRCC*initialOpenLimit : 256
hostname*adh*trcc.route*TRCC*lockedDumpFile :
hostname*adh*trcc.route*TRCC*maxCache : 10000
hostname*adh*trcc.route*TRCC*primaryProvider : True
hostname*adh*trcc.route*TRCC*serverCost : 0
hostname*adh*trcc.route*TRCC*serverId : 287
hostname*adh*trcc.route*TRCC*serverPartitionList :
hostname*adh*trcc.route*TRCC*serverPartitionNegationList :
hostname*adh*trcc.route*TRCC*tunnelStream*numIpcOutputBuffers : 400
hostname*adh*trcc.route*TRCC*tunnelStream*userName :  <TRCC Username>
hostname*adh*trcc.route*TRCC*tunnelStream*userPassword : <TRCC Password>
hostname*adh*trcc.route*TRCC*updateRateThreshold : 200
hostname*adh*trcc.route*TRCC.enableTunnelStreamAggregation : True
hostname*adh*trcc.route*allowSuspectData : False
hostname*adh*trcc.route*applicationId : 256
hostname*adh*trcc.route*compressionType : 0
hostname*adh*trcc.route*encryptionProtocol : TLSv1.2
hostname*adh*trcc.route*hostList : <TRCC Host> 
hostname*adh*trcc.route*maxIncomingBytesPerSecond : 0
hostname*adh*trcc.route*maxIncomingMessagesPerSecond : 0
hostname*adh*trcc.route*minCompressionThreshold : 0
hostname*adh*trcc.route*numIpcInputBuffers : 10
hostname*adh*trcc.route*numIpcOutputBuffers : 400
hostname*adh*trcc.route*pingInterval : 2
hostname*adh*trcc.route*port : 443
hostname*adh*trcc.route*protocol : rssl
hostname*adh*trcc.route*proxyHost :
hostname*adh*trcc.route*proxyPort :
hostname*adh*trcc.route*recoveryInterval : 10
hostname*adh*trcc.route*routeEnabled : True
hostname*adh*trcc.route*rsslConnectionType : encrypted
hostname*adh*trcc.route*serviceList : TRCC
hostname*adh*trcc.route*singleOpen : True
hostname*adh*trcc.route*tcpNoDelay : False
hostname*adh*trcc.route*tcpRecvBufSize : 524288
hostname*adh*trcc.route*tcpSendBufSize : 64240
hostname*adh*trcc.route*useReactor : True
hostname*adh*trcc.route*userName : rmds


*trcc*CacheResiliency*hostList : 
*trcc*CacheResiliency*port : 9101
*trcc*HSAutoFailback*decisionTime : 60
*trcc*HSAutoFailback*enable : True
*trcc*HSAutoFailback*network : mdhnet;238.3.3.3|9093|
*trcc*ageUnwatchedItemTime : 7200
*trcc*blockedItemsFile : /var/reuters/rmds/blockeditems_file
*trcc*cacheLocation : srcApp
*trcc*cacheType : sinkDriven
*trcc*contribDataFileDirectory : .
*trcc*contribExchangeFieldList : 
*trcc*contribFieldList : 
*trcc*contribInsertRTL : False
*trcc*contribMaxUpdateRate : 5000
*trcc*contribMinUpdateRate : 500
*trcc*contribNegativeTemplateIdList : 80, 85
*trcc*contribPositiveTemplateIdList : 
*trcc*convertMfeedDataToRWF : True
*trcc*convertToIDNStyle : True
*trcc*dataType : 6
*trcc*discourageRequestsOnOutage : True
*trcc*dismountOnOutage : False
*trcc*expandedEnumFields : True
*trcc*forwardItemPriorityToSrcApp : False
*trcc*forwardServerMode : False
*trcc*headlinePermissioning : True
*trcc*hotStandby*heartbeat : 1
*trcc*hotStandby*learnTime : 10
*trcc*hotStandby*maxUpdateRate : 5000
*trcc*hotStandby*retryTime : 180
*trcc*hotStandby*standbyForwardInsertToSrcApp : False
*trcc*hotStandby*temporalDifference : 1
*trcc*hotStandby*timeout : 3
*trcc*includeUnwatchedItemsInLoad : False
*trcc*itemPriorityFile : /var/reuters/rmds/priority_file
*trcc*lockedItemThreshold : 5
*trcc*logNonRecoverableOpens : False
*trcc*maxLoadLevel : 65535
*trcc*maxOperDuringFailover : 20
*trcc*newsNameList : N2_UBMS NFCP_UBMS
*trcc*nonCachingItemFile : /var/reuters/rmds/nonCachingItem_file
*trcc*nonCachingItemList : 
*trcc*nonRecoverablePolling : False
*trcc*normalRetryTime : 120
*trcc*normalizedLoadLevelThresholdForConcurrentRequests : 95
*trcc*openWindowTimeWindow : 15
*trcc*overrideLockServiceId : True
*trcc*persistentRestoreAsStale : True
*trcc*pollCache : True
*trcc*preemption : ssl
*trcc*preemptionRecoveryThreshold : 0
*trcc*preemptionRetryTime : 180
*trcc*priorityAwareMarketfeed : True
*trcc*qosRate : TICK_BY_TICK
*trcc*qosRateInfo : 0
*trcc*qosTimeInfo : 0
*trcc*qosTimeliness : REALTIME
*trcc*recoverItemsOnClose : False
*trcc*removeUnwatchedItems : True
*trcc*retryLimit : 0
*trcc*retryTimer : 60
*trcc*rrmpFlushInterval : 20
*trcc*seqNumFollowsMarketfeedRules : True
*trcc*serviceCacheDumpFile : 
*trcc*serviceDumpFile : 
*trcc*serviceId : 4556
*trcc*serviceQueueTimerMilliseconds : 10
*trcc*serviceRestartTime : 600
*trcc*staleRecoveryRetryTime : 600
*trcc*supportsOutofBandSnapshots : True
*trcc*supportsSnapshots : True
*trcc*useP2PForHotStandbyHeartbeat : False